body {
    font-family: "Times New Roman", Times, serif;
}

.button {
    display: block;
    margin: 0 auto;
    color: white;
    align-items: center;
    background-color: #964B00;
    border: none;
    font-size: 24px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    width: 50%;
}
.button:hover {
    background-color:#c56709;
}

.form_title {
    text-align: center;
    font-size: 2rem;
    color: #964B00;
    font-weight: bold;
}

hr.new {
    width: 42%;
    margin: auto;
    border-style: solid;
    border-color: rgb(75, 35, 15);
    border-width: 6px 0 0 0;
    align-items: center;

}

#align {
    text-align: right;
    color: #964B00;
}

.error {
    color: red;
}

.background {
    border-radius: 5px;
}

.container {
    width: 42%;
}

@media (max-width: 1200px) {
    body {
        font-family: "Times New Roman", Times, serif;
    }

    #align {
        text-align: left;
        color: #964B00;
    }
}